* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.judul {
  margin-bottom: 20px;
}
.gayatext {
  color: red;
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
}
h2 {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 20px;
}
.purple {
  background-image: url(./back.gif);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.red {
  position: relative;
  height: 70%;
  width: 50%;
  border-radius: 50px;
  padding-left: 50px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.5);
}
.isi{
  padding-top: 10px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.red p.judul_materi {
  padding-top: 15px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
}
ul {
  margin-left: 20px;
}


button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.reactivep{
display: flex;
}
.reactivep button{
margin-left: 20px;
}
button:active {
  box-shadow: none;
  transform: translbutton
}